{*
SPDX-FileCopyrightText: © 2021 Olivier Meunier <olivier@neokraft.net>

SPDX-License-Identifier: AGPL-3.0-only
*}<!DOCTYPE NETSCAPE-Bookmark-file-1>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'none'; img-src data: *; object-src 'none'"/>
<title>Readeck Bookmarks</title>
<h1>Readeck Bookmarks</h1>

{{- sections := slice(
  map("name", "Favorite", "items", .Favorite),
  map("name", "Archived", "items", .Archived),
  map("name", "Uncategorized", "items", .Uncategorized),
) }}
<dl><p>
{{- range _, section := sections }}
  <dt><h3>{{ section.name }}</h3></dt>
  <dl><p>
  {{- range _, b := section.items }}
    <dt><a href="{{ b.URL }}" add_date="{{ b.Created.UTC().Unix() }}" last_modified="{{ b.Updated.UTC().Unix() }}" tags="{{ .labelsToAttr(b.Labels)|raw }}">{{ b.Title }}</a></dt>
  {{- end -}}
  </p></dl>
{{- end -}}
</p></dl>
