{*
SPDX-FileCopyrightText: © 2021 Olivier Meunier <olivier@neokraft.net>

SPDX-License-Identifier: AGPL-3.0-only
*}
{{ extends "./base" }}
{{ import "/_libs/forms" }}

{{ block title() }}{{ gettext("Two-factor authentication") }}{{ end }}

{{ block main() }}
<h2 class="text-h3 mb-8 text-center">{{ yield title() }}</h2>

<form action="{{ urlFor(`/login/mfa`) }}" method="post">

  {{ yield formErrors(form=.Form) }}
  <input type="hidden" name="redirect" value="{{ .Form.Get(`redirect`).String() }}" />

  {{ yield textField(field=.Form.Get("code"),
                     label=gettext("Passcode"),
                     class="max",
                     inputClass="form-input w-full text-center text-lg font-bold",
                     inputAttrs=attrList(
                       "minlength", "6",
                       "maxlength", "6",
                       "autocapitalize", "off",
                       "autocomplete", "one-time-code",
                     ),
  ) }}

  <button class="btn btn-default block mt-6 w-full rounded-md" type="submit">{{ gettext("Verify") }}</button>
</form>

{{ end }}
