{*
SPDX-FileCopyrightText: © 2025 Olivier Meunier <olivier@neokraft.net>

SPDX-License-Identifier: AGPL-3.0-only
*}
{{ extends "./base" }}
{{ import "/_libs/forms" }}

{{ block title() }}{{ gettext("Import") }}{{ end }}

{{ block mainContent() }}
<h1 class="title text-h2">{{ yield title() }}</h1>

<h2 class="title text-h3">{{ gettext("Import a Readeck Profile") }}</h2>

<p>{{ gettext(`Import a file obtained through a previous profile export.`) }}</p>

<form class="my-8" action="{{ urlFor() }}" method="post" enctype="multipart/form-data">
  {{ yield formErrors(form=.Form) }}

  {{- yield fileDropField(
    field=.Form.Get("data"),
    required=true,
    label=gettext("File"),
    class="field-h",
  ) -}}

  {{ yield textField(field=.Form.Get("check"),
                     required=true,
                     label=gettext("Confirm your user name"),
                     class="field-h") }}

  <div class="btn-block bg-red-100 border-red-800 items-center">
    <div class="grow">
      <h3 class="font-bold">{{ gettext("Attention") }}</h3>

      <p class="mt-1">{{ gettext(`
      This will empty your current profile and all its data will be
      replaced with the file's content.
      `) }}</p>

    </div>
    <p>
      <button class="btn btn-danger" type="submit">{{ gettext("Import") }}</button>
    </p>
  </div>
</form>

<h2 class="title text-h3">{{ gettext("Import bookmarks from other services") }}</h2>

<div class="prose">
  <p>{{ gettext(`
  If you have bookmarks from another service you can import them in the
  <a href="%s">dedicated section</a>.
  `, urlFor(`/bookmarks/import`)) | raw }}</p>
</div>

{{ end }}
