{*
SPDX-FileCopyrightText: © 2025 Olivier Meunier <olivier@neokraft.net>

SPDX-License-Identifier: AGPL-3.0-only
*}
{{ extends "./base" }}
{{ import "/_libs/forms" }}

{{- block title() -}}{{ gettext("Edit bookmark") }}{{- end -}}

{{- block mainContent() -}}
<div class="max-w-std">
{{ yield breadcrumbs() }}
<h1 class="text-h2 title">{{ gettext("Edit: %s", .Title) }}</h1>
{{ include "./components/bookmark_update" }}
<p class="btn-block">
  <button class="btn btn-primary" type="submit" form="bookmark-update-form">{{ gettext("Save") }}</button>
</p>
</div>
{{- end -}}