{*
SPDX-FileCopyrightText: © 2024 Olivier Meunier <olivier@neokraft.net>

SPDX-License-Identifier: AGPL-3.0-only
*}
{{ extends "./base" }}
{{ import "/_libs/list"}}

{{- block title() -}}{{ gettext("Import your Bookmarks") }}{{- end -}}

{{- block head() -}}
  {{- if isset(.TrackID) && (.Running || .Progress.Status == 0) -}}
    <noscript><meta http-equiv="refresh" content="5"></noscript>
  {{- end -}}
{{- end -}}

{{- block mainContent() -}}
<h1 class="title text-h2">{{ yield title() }}</h1>

{{- if isset(.TrackID) -}}
  {{- yield message() content -}}
    {{ include "./progress" }}
  {{- end -}}
{{- else -}}
  <p class="mb-8">{{ gettext(`
    Here you can import your existing bookmark collection from various sources into Readeck.
  `) }}</p>

  {{- adapters := slice(
    map(
      "name", "browser",
      "iconSrc", "img/logos.svg",
      "iconName", "o-bookmarks",
      "title", gettext("Browser Bookmarks"),
      "desc", gettext("Import your Browser's Bookmarks, Pinboard, Instapaper"),
    ),
    map(
      "name", "csv",
      "iconSrc", "img/logos.svg",
      "iconName", "o-csv",
      "title", gettext("CSV File"),
      "desc", gettext("Import Links from a CSV File and Instapaper"),
    ),
    map(
      "name", "goodlinks",
      "iconSrc", "img/logos.svg",
      "iconName", "o-goodlink",
      "title", "GoodLinks",
      "desc", gettext("Import your GoodLinks Articles"),
    ),
    map(
      "name", "linkwarden",
      "iconSrc", "img/logos.svg",
      "iconName", "o-linkwarden",
      "title", "Linkwarden",
      "desc", gettext("Import your Linkwarden Bookmarks"),
    ),
    map(
      "name", "omnivore",
      "iconSrc", "img/logos.svg",
      "iconName", "o-omnivore",
      "title", "Omnivore",
      "desc", gettext("Import your Omnivore Articles"),
    ),
    map(
      "name", "pocket-file",
      "iconSrc", "img/logos.svg",
      "iconName", "o-pocket",
      "title", "Pocket",
      "desc", gettext("Import your Pocket Articles"),
    ),
    map(
      "name", "readwise",
      "iconSrc", "img/logos.svg",
      "iconName", "o-readwise",
      "title", "Readwise",
      "desc", gettext("Import your Readwise Reader Library"),
    ),
    map(
      "name", "text",
      "iconSrc", "",
      "iconName", "o-file",
      "title", gettext("Text File"),
      "desc", gettext("Import Links from a Text File"),
    ),
    map(
      "name", "wallabag",
      "iconSrc", "img/logos.svg",
      "iconName", "o-wallabag",
      "title", "Wallabag",
      "desc", gettext("Import your Wallabag Articles"),
    ),
  ) -}}

  <div class="grid grid-cols-3 gap-6 max-lg:grid-cols-2 max-md:grid-cols-1">
  {{- range adapters -}}
    <a class="
     flex flex-col border rounded-lg items-center gap-4 p-4
     link hf:shadow-sm hf:bg-gray-100/50 group"
     href="{{ urlFor(`/bookmarks/import`, .name)}}"
    >
      {{ yield icon(src=.iconSrc, name=.iconName, class="text-gray-600 group-hf:text-gray-800", svgClass="inline-block h-10 w-10") }}
      <span class="grow flex flex-col gap-1 items-center text-center">
        <strong>{{ .title }}</strong>
        <span class="text-app-fg">{{ .desc }}</span>
      </span>
    </a>
  {{- end -}}
  </div>

{{- end -}}

{{- end -}}
