{*
SPDX-FileCopyrightText: © 2025 Olivier Meunier <olivier@neokraft.net>

SPDX-License-Identifier: AGPL-3.0-only
*}
{{- import "/_libs/common" -}}
{{ import "/_libs/forms" }}

<turbo-frame id="bookmark-update-{{ .ID }}">
<form id="bookmark-update-form" method="post" action="{{ urlFor(`/bookmarks`, .ID, `update`) }}">
  {{ yield formErrors(form=.Form) }}

  {{- yield textField(
    field=.Form.Get("title"),
    required=true,
    label=gettext("Title:"),
    class="field-h",
  ) -}}
  {{- yield textAreaField(
    field=.Form.Get("description"),
    label=gettext("Description:"),
    rows=5,
    class="field-h",
  ) -}}
  {{- yield textField(
    field=.Form.Get("site_name"),
    required=true,
    label=gettext("Site Name:"),
    class="field-h",
  ) -}}
  {{- yield textAreaField(
    field=.Form.Get("authors"),
    value=join(.Form.Get("authors").V(), "\n"),
    label=gettext("Authors:"),
    help=gettext("One value per line"),
    rows=3,
    class="field-h",
  ) -}}
  {{- yield dateField(
    field=.Form.Get("published"),
    label=gettext("Published:"),
    class="field-h",
  ) -}}
  {{- yield textField(
    field=.Form.Get("lang"),
    label=gettext("Language:"),
    class="field-h",
  ) -}}
  {{- yield selectField(
    field=.Form.Get("text_direction"),
    label=gettext("Text Direction:"),
    class="field-h",
  ) -}}
</form>
</turbo-frame>