{*
SPDX-FileCopyrightText: © 2023 Olivier Meunier <olivier@neokraft.net>

SPDX-License-Identifier: AGPL-3.0-only
*}
<div class="space-y-4 text-sm">
  {{ yield textField(
    field=.Get("search"),
    label=gettext("Search"),
  ) }}

  {{ yield textField(
    field=.Get("title"),
    label=gettext("Title"),
  ) }}

  {{ yield textField(
    field=.Get("author"),
    label=gettext("Author"),
  ) }}

  {{ yield textField(
    field=.Get("site"),
    label=gettext("Site"),
  ) }}

  {{ yield textField(
    field=.Get("labels"),
    label=gettext("Label"),
    class="relative",
    controlAttrs=attrList(
      "data-controller", "autocomplete",
      "data-autocomplete-multiple-value", "true",
      "data-autocomplete-quotes-value", "true",
      "data-autocomplete-url-value", urlFor(`/api/bookmarks/labels`),
      "data-autocomplete-item-class", "p-2 whitespace-nowrap hf:bg-primary hf:text-white cursor-pointer",
      "data-autocomplete-selected-class", "bg-primary text-white",
    ),
    inputAttrs=attrList(
      "autocapitalize", "off",
      "data-turbo-empty-submit-end", "1",
      "data-autocomplete-target", "input",
    ),
  ) content }}
    <ul hidden class="absolute z-50 border shadow bg-gray-50 min-w-full max-h-48 overflow-y-auto rounded"
      data-autocomplete-target="results">
    </ul>
  {{ end }}

  {{ yield timeTokenField(
    field=.Get("range_start"),
    label=gettext("From date"),
    class="field-h--compact",
  ) }}

  {{ yield timeTokenField(
    field=.Get("range_end"),
    label=gettext("To date"),
    class="field-h--compact",
  ) }}

  {{ yield multiSelectField(field=.Get("type"),
    label=gettext("Type"),
    class="field-h--compact",
  ) }}

  {{ yield multiSelectField(field=.Get("read_status"),
    label=pgettext("filter", "Progress"),
    class="field-h--compact",
  ) }}

  {{ yield selectField(field=.Get("is_marked"),
    label=gettext("Is Favorite"),
    class="field-h--compact",
    options=slice(
      map("Name", "", "Value", ""),
      map("Name", gettext("yes"), "Value", true),
      map("Name", gettext("no"), "Value", false),
    )
  ) }}
  {{ yield selectField(field=.Get("is_archived"),
    label=gettext("Is Archived"),
    class="field-h--compact",
    options=slice(
      map("Name", "", "Value", ""),
      map("Name", gettext("yes"), "Value", true),
      map("Name", gettext("no"), "Value", false),
    )
  ) }}

  {{ yield selectField(field=.Get("is_loaded"),
    label=gettext("Is Loaded"),
    class="field-h--compact",
    options=slice(
      map("Name", "", "Value", ""),
      map("Name", gettext("yes"), "Value", true),
      map("Name", gettext("no"), "Value", false),
    )
  ) }}

  {{ yield selectField(field=.Get("has_labels"),
    label=gettext("With Labels"),
    class="field-h--compact",
    options=slice(
      map("Name", "", "Value", ""),
      map("Name", gettext("yes"), "Value", true),
      map("Name", gettext("no"), "Value", false),
    )
  ) }}

  {{ yield selectField(field=.Get("has_errors"),
    label=gettext("With Errors"),
    class="field-h--compact",
    options=slice(
      map("Name", "", "Value", ""),
      map("Name", gettext("yes"), "Value", true),
      map("Name", gettext("no"), "Value", false),
    )
    ) }}
</div>
