{*
SPDX-FileCopyrightText: © 2022 Olivier Meunier <olivier@neokraft.net>

SPDX-License-Identifier: AGPL-3.0-only
*}

{{ import "/_libs/common" }}

<turbo-frame id="bookmark-title-{{ .Item.ID }}" class="print:hidden leading-normal">
<h1 class="text-3xl max-sm:text-2xl">{{ .Item.Title }}</h1>
{{- if !empty(.Item.Description) && empty(.Item.OmitDescription) -}}
  <p class="mt-2 text-lg leading-tight text-justify italic"
   dir="{{ default(.Item.TextDirection, `ltr`) }}">{{ .Item.Description }}</p>
{{- end -}}

<dialog class="dialog max-w-std" id="bookmark-update-dialog" data-turbo="true">
  <form class="dialog--top" method="dialog">
    <button class="dialog--close" title="{{ gettext(`Close dialog`) }}">
    {{ yield icon(name="o-close", class="", svgClass="h-8 w-8") }}
    </button>
  </form>

  <div class="dialog--content">
    <turbo-frame id="bookmark-update-{{ .Item.ID }}" src="{{ urlFor(`/bookmarks`, .Item.ID, `update`) }}" loading="lazy">
    </turbo-frame>
  </div>

  <div class="dialog--footer">
    <button class="btn btn-primary ml-auto" form="bookmark-update-form" type="submit">{{ gettext("Save") }}</button>
  </div>
</dialog>

</turbo-frame>