// SPDX-FileCopyrightText: © 2025 Olivier Meunier <olivier@neokraft.net>
//
// SPDX-License-Identifier: AGPL-3.0-only

@layer components {
  .message {
    @apply flex gap-2 p-4 overflow-hidden items-baseline;
    @apply rounded my-6 w-full border;
    @apply bg-gradient-to-r from-[0.25rem] via-[0.25rem];
    @apply transition-all duration-300 ease-in-out;

    --msg-color: theme("colors.blue.800");
    --msg-border: theme("colors.blue.700");
    --msg-bg: theme("colors.blue.50");
    --msg-remover: theme("colors.gray.500");
    --msg-remover-hover: theme("colors.red.700");

    --tw-gradient-to: var(--msg-bg) var(--tw-gradient-to-position);
    --tw-gradient-stops:
      var(--tw-gradient-from), var(--msg-bg) var(--tw-gradient-via-position), var(--tw-gradient-to);
    --tw-gradient-from: var(--msg-border) var(--tw-gradient-from-position);

    border-color: var(--msg-border);

    &.success {
      --msg-color: theme("colors.green.800");
      --msg-border: theme("colors.green.700");
      --msg-bg: theme("colors.green.100");
    }
    &.error {
      --msg-color: theme("colors.red.800");
      --msg-border: theme("colors.red.700");
      --msg-bg: theme("colors.red.100");
    }

    button.remover {
      color: var(--msg-remover);
      opacity: 0.5;

      &:hover,
      &:focus {
        color: var(--msg-remover-hover);
      }

      & .svgicon {
        & > svg {
          @apply w-5 h-5;
        }
      }
    }

    &:hover,
    &:focus-within {
      button.remover {
        opacity: 1;
      }
    }

    & > div > .svgicon {
      color: var(--msg-color);
    }

    & > div > details {
      > summary {
        display: flex;
        align-items: center;

        &::after {
          content: "";
          display: block;
          width: 1.5em;
          height: 1.5em;
          margin-left: auto;
          background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20"><path stroke="#999" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M6 8l4 4 4-4"/></svg>');
          background-position: right 0 center;
          background-repeat: no-repeat;
          background-size: 1.5em 1.5em;
          transform: rotate(-90deg);
        }
      }

      &[open] > summary::after {
        transform: rotate(0);
      }
    }
  }

  .toaster {
    @at-root body.js & {
      position: fixed;
      top: theme("spacing.2");
      margin: 0;
      left: 50%;
      transform: translate(-50%, 0);
      width: auto;
      min-width: theme("spacing.col-4");
      z-index: 100;

      @screen max-sm {
        width: 100%;
        top: auto;
        bottom: 0;
      }

      & .message {
        @apply border-none my-0;

        --msg-color: theme("colors.blue.300");
        --msg-bg: theme("colors.blue.800");
        --msg-remover: theme("colors.gray.300");
        --msg-remover-hover: theme("colors.gray.100");

        @apply bg-none rounded shadow-xl;
        background-color: var(--msg-bg);
        color: theme("colors.gray.light");

        &.success {
          --msg-color: theme("colors.green.300");
          --msg-bg: theme("colors.green.800");
        }
        &.error {
          --msg-color: theme("colors.red.300");
          --msg-bg: theme("colors.red.800");
        }
      }
    }
  }
}
