{*
SPDX-FileCopyrightText: © 2025 Olivier Meunier <olivier@neokraft.net>

SPDX-License-Identifier: AGPL-3.0-only
*}
{{ extends "../base" }}
{{ import "/_libs/forms" }}

{{ block title() }}{{ gettext("Authorization required") }}{{ end }}

{{- block backBtn() -}}
<p class="mt-6">
  <a class="btn btn-primary block w-full rounded-md text-center" href="{{ urlFor(`/`) }}">{{ gettext("Go back to Readeck") }}</a>
</p>
{{- end -}}

{{ block main() }}

{{- if isset(.Error) -}}
  {{- yield message(type="error") content -}}
    <h2 class="font-semibold">Error</h2>
    <p>{{ .Error }}</p>
  {{- end -}}
  {{- yield backBtn() -}}

{{- else if .Step == "code" -}}
{* Device Code form *}
  <h2 class="text-h3 mb-8 text-center">{{ gettext("Connect a device") }}</h2>

  <form class="" action="{{ urlFor() }}" method="post">
    {{ yield textField(field=.Form.Get("user_code"),
                      label=gettext("Enter the code displayed on your device"),
                      class="max",
                      inputClass="form-input w-full text-center text-lg font-bold",
                      inputAttrs=attrList("autocapitalize", "off"),
    ) }}
    <button class="btn btn-primary block mt-6 w-full rounded-md" type="submit">{{ gettext("Next") }}</button>
  </form>

{{- else if .Step == "pending" -}}
{* Authorization form *}
  {{ include("./form") }}
  <input type="hidden" form="auth-form" name="user_code" value="{{ .Form.Get(`user_code`) }}">

{{- else if .Step == "denied" -}}
{* Authorization was denied *}
  <h2 class="text-h3 mb-8 text-center">{{ gettext("Connect a device") }}</h2>

  <p>{{ gettext("Authorization request was denied.") }} {{ gettext(" You can now close this page.") }}</p>
  {{- yield backBtn() -}}

{{- else if .Step == "granted" -}}
{* Authorization was granted *}
  <h2 class="text-h3 mb-8 text-center">{{ gettext("Connect a device") }}</h2>

  {{- if .Request.TokenID < 0 -}}
    <p>{{ gettext("Authorization granted. Connecting device...") }}</p>
    <p class="mt-4 text-center text-3xl">
      <span class="text-3xl">{{ yield spinner() }}</span>
    </p>
    <p class="prose mt-8 text-sm">{{ gettext(
      `<a href="%s">Reload this page</a> if it doesn't refresh after a few seconds.`,
      urlFor(``),
    )|raw }}
  {{- else -}}
    <p>{{ gettext("Device is connected!") }} {{ gettext("You can now close this page.") }}</p>
    {{- yield backBtn() -}}
  {{- end -}}
{{- end -}}

{{ end }}
