{*
SPDX-FileCopyrightText: © 2025 Olivier Meunier <olivier@neokraft.net>

SPDX-License-Identifier: AGPL-3.0-only
*}
{{- if isset(.Error) -}}
  {{- yield message(type="error") content -}}
    <h2 class="font-semibold">Error</h2>
    <p>{{ .Error }}</p>
  {{- end -}}
{{- else -}}
  <p class="mb-8 text-green-700 text-center">{{ gettext("Signed in as: <strong>%s</strong>", html(user.Username))|raw }}</p>

  <h2 class="text-h3 mb-8 text-center">{{ gettext("Authorization required") }}</h2>

  <div class="flex gap-4 items-center mb-4">
    {{- if .Client.Logo -}}
      <img class="max-h-12 max-w-12" src="{{ .Client.Logo }}" alt="">
    {{- end -}}
    <p class="grow">{{ gettext(`
      <strong>%s</strong> would like permission to access your account.
      Only approve this request if you recognize and trust this source.
    `, html(.Client.Name))|raw }}</p>
  </div>

  <h3 class="title text-lg mb-2">{{ gettext("Review permissions") }}</h3>
  <ul class="mb-4">
  {{- range .Scopes -}}
    <li class="mb-2">{{ yield icon(name="o-check-on", class="svgicon text-green-700") }} {{ . }}</li>
  {{- end -}}
  </ul>

  <h3 class="title text-lg mb-2">{{ gettext("Application information") }}</h3>
  <ul>
    <li>{{ gettext("Name") }}: <strong>{{ .Client.Name }}</strong></li>
    <li>{{ gettext("Website") }}: <a class="link" href="{{ .Client.URI }}" target="_blank">{{ .Client.URI }}</a></li>
    <li>{{ gettext("Version") }}: <strong>{{ .Client.SoftwareVersion }}</strong></li>
  </ul>

  <form id="auth-form" class="flex gap-2" action="{{ urlFor() }}" method="post">
    <button class="btn btn-primary block mt-6 w-full rounded-md"
     type="submit" name="granted" value="1">{{ gettext("Authorize") }}</button>
    <button class="btn btn-danger block mt-6 w-full rounded-md"
     type="submit" name="granted" value="0">{{ gettext("Deny") }}</button>
  </form>
{{- end -}}